@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css2?family=Georama:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  letter-spacing: 3px;
  box-sizing: border-box;
}
a {
  background-color: transparent;
  color: initial;
  text-decoration: initial;
  background-color: transparent;
  &:hover {
    text-decoration: initial !important;
  }
}
.carousel-control-next,
.carousel-control-prev {
  width: 5% !important;
}

.button1,
.button1::after {
  width: 200px;
  height: 80px;
  font-size: 1.5rem;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #ffffff;
  outline: transparent;
  position: relative;
  font-family: "Staatliches", cursive;
}

.button1::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #02ff2c 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #000000, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.button1:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-10px, -5px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(5px, 5px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-5px, 5px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
.custom-button i {
  margin-left: 0.9375rem;
}

//404 Page
.page404 {
  color: #dbe2fb;
  line-height: 1.75rem;
  overflow-x: hidden;
  background: #001232;
  .section-404 {
    margin-top: 3.125rem;
    min-height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    .thumb-404 {
      max-width: 60.375rem;
      margin: 0 auto 2.125rem;
    }
    .title {
      font-size: 1rem;
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 2.5rem;
      color: #ffffff;
    }
  }
}
//End 404 Page

//Navbar
.navbar {
  background: black;
  box-shadow: 0 0 20px 0 white;
  font-family: "Staatliches", cursive;

  .sign {
    margin-left: 50px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 3em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff6565,
      -0.2rem 0.1rem 1rem #ff6565, 0.2rem 0.1rem 1rem #ff6565,
      0 -0.5rem 2rem #ff2424, 0 0.5rem 3rem #ff2424;
    animation: shine 2s forwards, flicker 3s infinite;
  }

  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff6565,
        -0.2rem 0.1rem 1rem #ff6565, 0.2rem 0.1rem 1rem #ff6565,
        0 -0.5rem 2rem #ff2424, 0 0.5rem 3rem #ff2424;
    }
    28%,
    33% {
      color: #ff6565;
      text-shadow: none;
    }
    82%,
    97% {
      color: #ff2424;
      text-shadow: none;
    }
  }

  .flicker1 {
    animation: shine 2s forwards, blink 3s 4s infinite;
  }

  .flicker2 {
    animation: shine 2s forwards, blink 6s 2s infinite;
  }
  .flicker3 {
    animation: shine 2s forwards, blink 8s 1s infinite;
  }

  @keyframes shine {
    0% {
      color: #6b1839;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff6565,
        -0.2rem 0.1rem 1rem #ff6565, 0.2rem 0.1rem 1rem #ff6565,
        0 -0.5rem 2rem #ff2424, 0 0.5rem 3rem #ff2424;
    }
  }

  @keyframes flicker {
    from {
      opacity: 1;
    }

    4% {
      opacity: 0.9;
    }

    6% {
      opacity: 0.85;
    }

    8% {
      opacity: 0.95;
    }

    10% {
      opacity: 0.9;
    }

    11% {
      opacity: 0.922;
    }

    12% {
      opacity: 0.9;
    }

    14% {
      opacity: 0.95;
    }

    16% {
      opacity: 0.98;
    }

    17% {
      opacity: 0.9;
    }

    19% {
      opacity: 0.93;
    }

    20% {
      opacity: 0.99;
    }

    24% {
      opacity: 1;
    }

    26% {
      opacity: 0.94;
    }

    28% {
      opacity: 0.98;
    }

    37% {
      opacity: 0.93;
    }

    38% {
      opacity: 0.5;
    }

    39% {
      opacity: 0.96;
    }

    42% {
      opacity: 1;
    }

    44% {
      opacity: 0.97;
    }

    46% {
      opacity: 0.94;
    }

    56% {
      opacity: 0.9;
    }

    58% {
      opacity: 0.9;
    }

    60% {
      opacity: 0.99;
    }

    68% {
      opacity: 1;
    }

    70% {
      opacity: 0.9;
    }

    72% {
      opacity: 0.95;
    }

    93% {
      opacity: 0.93;
    }

    95% {
      opacity: 0.95;
    }

    97% {
      opacity: 0.93;
    }

    to {
      opacity: 1;
    }
  }
  .navbar-brand {
    margin-left: auto;
    margin-right: auto;
  }
  .navbar-collapse {
    text-align: center;
    flex-grow: initial !important;
    .navbar-nav {
      .nav-item {
        position: relative;
        &:after {
          content: "";
          display: block;
          width: 0%;
          height: 0.2rem;
          position: absolute;
          bottom: 8px;
          left: 25%;
          transition: all 0.4s linear;
          background-image: linear-gradient(
            to right,
            rgb(255, 100, 100),
            rgb(255, 59, 59)
          );
          box-shadow: 0 0 20px 0 #fbbd61;
        }
        &:hover::after {
          width: 50%;
        }
      }
      .nav-link {
        font-size: 1rem;
        margin-bottom: 20px;
        transition: all 0.5s ease;
        color: white;

        &:hover {
          color: rgba(255, 0, 0, 0.678);
        }
      }
      .nav-link.active::after {
        content: "";
        display: block;
        width: 50%;
        height: 0.2rem;
        position: absolute;
        bottom: 8px;
        left: 25%;
        transition: all 0.4s linear;
        background-image: linear-gradient(
          to right,
          rgb(255, 100, 100),
          rgb(255, 59, 59)
        );
        box-shadow: 0 0 20px 0 #fbbd61;
      }
    }
    .button1 {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  .navbar-toggler {
    background-color: rgba(255, 0, 0, 0.678);
    color: white;
  }
}

//End Navbar
//Info
.info {
  font-family: "Staatliches", cursive;
  .modal-content {
    background-color: black;
    color: white;
  }
  .button1,
  .button1::after {
    width: 100px;
    height: 50px;
  }
  .button1 {
    margin-top: 30px;
  }
  .btn-close {
    background-color: #ff013c;
    color: white;
  }
}
//End Info
//Carousel
#carouselExampleDark {
  .carousel-indicators {
    [data-bs-target] {
      background-color: white;
      width: 15px;
      height: 15px;
      margin-left: 15px;
      margin-right: 15px;
      opacity: 1;
      border-radius: 50%;
    }
    .active {
      background-color: rgba(255, 0, 0, 0.678);
    }
    button {
      &:hover {
        background-color: rgba(255, 0, 0, 0.678);
        opacity: 0.5;
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    opacity: 1 !important;
    .fas {
      transition: all 0.6s ease-in;
    }
    &:hover {
      .fas {
        color: #ff013c;
      }
    }
  }
}

//End Carousel

//LoginPage

.loginPage {
  background: url(./../img/bg2.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Staatliches", cursive;
  h1 {
    font-weight: bold;
    margin: 0;
    font-family: "Staatliches", cursive;
  }
  p {
    font-size: 1rem;
    font-weight: 100;
    line-height: 20px;
    margin: 20px 0 0;
  }
  .button1,
  .button1::after {
    width: 100px;
    height: 60px;
    font-size: 1rem;
  }
  .button1 {
    margin-top: 20px;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
    font-family: "Georama", sans-serif;
    h1 {
      margin-bottom: 20px;
    }
  }

  input {
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }

  .container {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 1000px;
    max-width: 100%;
    min-height: 600px;
  }

  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }

  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }

  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }

  .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }
  .sign-in-container form,
  .sign-up-container form {
    background-color: black;
    color: white;
  }
  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }

  @keyframes show {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }

    50%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }

  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }

  .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }

  .overlay {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    .button1,
    .button1::after {
      box-shadow: 6px 0px 0px #000000;
    }
  }

  .container.right-panel-active .overlay {
    transform: translateX(50%);
  }

  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .overlay-left {
    transform: translateX(-20%);
  }

  .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }

  .overlay-right {
    right: 0;
    transform: translateX(0);
  }

  .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }
}

//End LoginPage

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  //404 Page
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .navbar {
    .navbar-collapse {
      .navbar-nav {
        .nav-link {
          font-size: 1.5rem;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  //404 Page
  .page404 {
    .section-404 {
      .title {
        font-size: 2rem;
      }
      .button1 {
        width: 300px;
        height: 100px;
      }
    }
  }
  //End 404 Page
  //Navbar
  .navbar {
    .sign {
      margin-right: auto;
      margin-left: 10%;
    }
    .navbar-brand {
      margin-left: initial;
    }
    .navbar-collapse {
      margin-left: 60px;
      .navbar-nav {
        align-items: center;
        .nav-item {
          &:after {
            bottom: -35px;
            left: 0;
          }
          &:hover::after {
            width: 100%;
          }
        }
        .nav-link {
          font-size: 1rem;
          margin-bottom: initial;
          white-space: nowrap;
        }
        .nav-link.active::after {
          width: 100%;
          left: 0;
          bottom: -35px;
        }
      }
      .button1,
      .button1::after {
        font-size: 1rem;
        height: 50px;
        width: 100px;
      }
    }
  }
  //End Navbar
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  //Navbar
  .navbar {
    .navbar-collapse {
      .navbar-nav {
        .nav-link {
          font-size: 1.3rem;
        }
      }
      .button1,
      .button1::after {
        font-size: 1.3rem;
        height: 60px;
        width: 130px;
      }
    }
  }
  //End Navbar
}
//Movie Card

.movieItem {
  background-image: url(./../img/wallpapersden.com_fluid-shades-dark_720x1280.jpg);
  background-size: cover;
  font-family: "Georama", sans-serif;
  &.home {
    padding: 80px 80px;
    h1,
    .button1 {
      font-family: "Staatliches", cursive;
      margin-bottom: 20px;
    }
    .slick-list {
      background-color: rgba(255, 255, 255, 0.075);
      border-radius: 50px;
    }
    .slick-dots {
      bottom: -5%;
      li button:before {
        color: white;
        font-size: 16px;
        opacity: 1;
      }
      li.slick-active button:before,
      li button:hover:before,
      .slick-dots li button:focus:before {
        color: #ff013c;
      }
    }

    .slick-prev:hover:before,
    .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      color: #ff013c;
    }
    .slick-prev {
      left: -3.7%;
      transform: translate(0, -110%);
      transition: all 1s linear;
    }
    .slick-next {
      right: -2%;
      transform: translate(0, -110%);
      transition: all 1s linear;
    }

    .slick-prev:before,
    .slick-next:before {
      opacity: 1;
      font-size: 3rem;
      transition: all 1s linear;
    }
    .card {
      margin: 15px 11.5px;
    }
  }
  .button1,
  .button1::after {
    box-shadow: 6px 0px 0px #ffffff;
    width: 150px;
    height: 70px;
    font-size: 1.3rem;
  }
  .button1 {
    &.active {
      box-shadow: 6px 0px 0px #ff013c;
      color: #ff013c;
      background: linear-gradient(45deg, transparent 5%, white 5%);
    }
  }
  .modal-dialog {
    .modal-content {
      box-sizing: border-box;
      width: initial;
      background-clip: content-box;
      border: initial;
      border-radius: initial;
      background-color: transparent;
      .modal-body {
        width: 100%;
        padding: initial;
        box-sizing: border-box;
        iframe {
          width: 1120px;
          height: 630px;
        }
      }
    }
  }
  .fa-times-circle {
    position: absolute;
    right: -40px;
    top: -50px;
    font-size: 3rem;
    color: white;
    padding: 0;
    border: 0;
    &:hover {
      color: rgb(255, 100, 100);
    }
  }

  .nav-link {
    &:after {
      content: "";
      display: block;
      width: 0%;
      height: 0.2rem;
      position: absolute;
      bottom: 8px;
      left: 25%;
      transition: all 0.4s linear;
      background-image: linear-gradient(
        to right,
        rgb(255, 100, 100),
        rgb(255, 59, 59)
      );
    }
  }
  .colMovie {
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: transparent;
  }
  .card {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    overflow: hidden;
    outline: none;
    border: none;
    background-color: transparent;
    transition: all 0.6s linear;
    &:hover {
      box-shadow: 0 0 5px 5px rgba(255, 59, 59, 0.8);
    }
    &:hover .face.face2,
    &:active .face.face2 {
      transition: all 0.6s linear;
      transform: translateY(0);
    }
    img {
      width: 100%;
      height: 360px;
    }
    .face {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &.face2 {
        box-sizing: border-box;
        padding: 0 20px;
        .trailer {
          text-align: center;
          margin-bottom: 50px;
          margin-top: 50px;
          .fa-play-circle {
            color: white;
            font-size: 50px;
            transition: all 0.6s linear;
            &:hover {
              color: #ff013c;
              transition: all 0.6s linear;
            }
          }
        }
        a {
          &:hover h2 {
            color: #ff013c;
            transition: all 0.6s linear;
          }
          h2 {
            transition: all 0.3s linear;
            margin: 0;
            padding: 0;
            letter-spacing: 2px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: white;
            font-size: 1.3rem;
            font-weight: bolder;
          }
        }
      }

      &.face2 {
        transition: all 0.4s linear;
        background: rgba(0, 0, 0, 0.6);
        transform: translateY(200%);
        height: 100%;
        .fa-star {
          color: yellow;
          font-size: 1rem;
        }
        span.ageType {
          font-size: 14px;
          background-color: #ff013c;
          border-radius: 4px;
          padding: 4px 4px;
          color: #fff;
          min-width: 33px;
          text-align: center;
          display: inline-block;
        }

        .button1,
        .button1::after {
          width: 80px;
          height: 40px;
          font-size: 14px;
        }
        .button1 {
          position: absolute;
          right: 5%;
        }
        a {
          background-color: transparent;
          color: white;
          text-decoration: initial;
          background-color: transparent;
        }
      }
    }
  }
}

//Movie Card
